@font-face { font-family: Noir-regular; src: url('./fonts/Noir/Noir_regular.otf'); } 
@font-face { font-family: Noir-medium; src: url('./fonts/Noir/Noir_medium.otf')}
@font-face {font-family: forma; src: url('./fonts/forma.ttf')}

:root {
   --color0: #0E0B16;
   --color1: #A239CA;
   --color2: #e7dfdd;
   --color3: #F5B841;
   --color4: #4717F6;
   --color5: #E34A6F;
   /*
      #7B1E7A
      #ED1C24
      #A9DDD6

      6320EE
      BBBE64
      F06543
   */
}

/*  Long  */
@media (min-aspect-ratio: 1/1)
{   
   #header {
      display:flex;
      flex-direction: column;
      align-items: center;
   }
   #navigator {
      width: 85%;
      position: fixed;
      text-align: center;  
      display: flex;
      justify-content: center;
      z-index: 1;
      padding-top: 2%;
      padding-bottom: 1%;
      background-color: var(--color0);
      border-bottom-left-radius: 5vw;
      border-bottom-right-radius: 5vw;
   }
   #home-anchor {
      margin-bottom: 20vh;
   }
   #introduction-title-text {
      font-family: "forma";
      font-size: 20vw;
      color: var(--color5);
      margin: 0%;
   }
   #profile-picture {
      width: 50%; 
      height: 100%;
      border-radius: 50%;
      padding: 2vw;
   }  
   #home-screen-gif {
      height: 33%; 
      margin-right: 1vw; 
      margin-left: 1vw;
   }
   #closet-hangr-group-picture {
      width: 40%;
      border-radius: 10vw;
      padding: 2vw;
   }
   #logo {
      font-family: "forma";
      font-size: 5vw;
      color: var(--color5);
   }

   .navigation-text {
      font-size: 1.5vw;
      text-transform: uppercase;
      letter-spacing: .2vw;
      font-family: "Noir-regular";
      color: var(--color4);
      margin: 0;
      transition: text-shadow .6s;
   }
   .vsection {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .hsection {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .section-title-text {
      font-size: 10vw;
      text-transform: uppercase;
      letter-spacing: .2vw;
      font-family: "Noir-medium";
      color: var(--color5);
   }
   .half-block {
      width: 50%;
      height: 100%;
      padding: 1vw;
   }
   .half-block-title-text {
      color: var(--color3);
      font-size: 3vw; 
      margin: 0%;
      font-family: "Noir-medium";
   }
   .half-block-text {
      color: var(--color2);
      font-size: 1.5vw;
      font-family: "Noir-regular";
      text-align: center;
   }
   .section-horizontal-mod {
      display:flex; 
      flex-direction: row; 
      justify-content: center; 
      align-items: center;
   }
   .external-link-text {
      font-size: 3vw;
      text-transform: uppercase;
      letter-spacing: .3vw;
      font-family: "Noir-regular";
      color: var(--color5);
      margin: 5vw;
   
      transition: text-shadow .2s;
   }
   .external-link-text:hover {
      text-shadow: 0px -.05vw .4vw var(--color5);
      transition: text-shadow .3s;
   }
   .side-screen-gif {
      width: 25%;
   }
}
/*  Tall  */
@media (max-aspect-ratio: 1/1)
{
   #navigator {
      height: 0;
   }
   #home-anchor {
      margin-bottom: 10vh;
   }
   #introduction-title-text {
      font-family: "forma";
      font-size: 30vh;
      color: var(--color5);
      margin: 0%;
      margin-bottom: 5vh;
   }
   #profile-picture {
      width: 100%; 
      border-radius: 50%;
      margin-bottom: 10vw;
   }
   #home-screen-gif {
      height: 35vh; 
      margin-top: 1vh;
      margin-bottom: 1vh;
   }
   #closet-hangr-group-picture {
      width: 100%;
      border-radius: 7vh;
      margin-top: 5vh;
      margin-bottom: 5vh;
   }
   #logo {
      font-family: "forma";
      font-size: 5vh;
      color: var(--color5);
   }
   

   .navigation-text {
      font-size: 0;
      margin: 0;
   }
   .vsection {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .hsection {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .section-title-text {
      font-size: 7vh;
      text-transform: uppercase;
      letter-spacing: .2vh;
      font-family: "Noir-medium";
      color: var(--color5);
   }
   .half-block {
      width: 100%;
      height: 100%;
      align-items: center;
   }
   .half-block-title-text {
      color: var(--color3);
      font-size: 5vh; 
      margin: 0%;
      font-family: "Noir-medium";
      text-align: center;
   }
   .half-block-text {
      color: var(--color2);
      font-size: 1.5vh;
      font-family: "Noir-regular";
      text-align: center;
   }
   .section-horizontal-mod {
      display:flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
   }
   .external-link-text {
      font-size: 3vh;
      text-transform: uppercase;
      letter-spacing: .3vh;
      font-family: "Noir-regular";
      color: var(--color5);
      margin: 5vh;
   }
   .side-screen-gif {
      height: 30vh;
   }
}

/************************************************
   All
*/
body {
   margin: 0;
   background-color: var(--color0);
}
#background-image {
   position: fixed;
   width: 200%;
   height: 40000vw;
   z-index: -2;
   background-image: url('./images/pattern.gif');
   filter: grayscale(100%) blur(1.2vw);
   opacity: 1;
   /*background-size: contain;*/
}
#background-color {
   position: fixed;
   width: 100%;
   height: 400vw;
   z-index: -1;
   background-color: var(--color0);
   opacity: .9;
}
#about-anchor {
   margin-bottom: 16vh;
}
#projects-anchor {
   margin-bottom: 45vh;
}
#projects-section-title-text {
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 50vh;
}


.content {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.link {
   text-decoration: none;
}
.anchor {
   margin-top: 100vh;
}
.fade-in-introduction-title {
   animation: fade-in-animation 2s;
}
.fade-in-introduction-subtitle {
   animation: fade-in-animation 4s;
}
.section-vertical-mod {
   display:flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: center;
}


/*
   Animations
*/
@keyframes fade-in-animation {
   from {
      opacity: 0;
   }

   50% {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

/***********************************************/


#closet-hangr-screens {
   margin-top: 8vh;
   margin-bottom: 15vh;
}

.subsection-separator {
   width: 30%;
   height: .5vw;
   border-radius: 1vw;
   margin-top: 7vh;
   margin-bottom: 7vh;
   background-color: var(--color4);
}
.navigation-link {
   padding-left: 3%;
   padding-right: 3%;
}


.navigation-text:hover {
   text-shadow: 0px -.15vw .3vw var(--color4);
   transition: text-shadow .6s;
}


.section-justify-center-mod {
   justify-content: center;
}
.section-align-center-mod {
   align-items: center;
}
